.page-container {
  margin-top: 20px;
  padding-left: 0;
  display: inline-flex !important;
  width: 80%;
}

@media only screen and (max-width : 992px) {
  .page-container {
    display: flex !important;
  }
}


.center-content {
  width: 90%;
  display: flex!important;
  margin-left: auto;
  margin-right: auto;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 0 auto;
  width: 100%;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

